#pregif {
}

#pregifcanvas {
    position:relative;
}

#preoptions {
}

#postgif {
    position: relative;
}

#canvasdiv {
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    height:100%;
}

.gifdiv {
    position: absolute;
}

ul {
    list-style: none;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
}

#points li {
    display: block;
}

input {
    display: block;
}

#pointlist li {
    display: block;
    margin-left: 3px;
}

#pointlist a:hover {
    color: #00FFFF;
}

li {
    display: inline;
    margin-left: 3px;
}

#newpoint {
    color: blue;
}

#livepoint {
    color: green;
}

#deadpoint {
    color: red;
}

#preprocessing {
    display: none;
}

#postprocessing {
    display: none;
}

.appdiv {
    width: 650px;
    margin: 0 auto;
}

#apppanel {
}
