#newpoint {
    color: blue;
}

#livepoint {
    color: green;
}

#deadpoint {
    color: red;
}

textarea {
    width: 100%;
    height: 100%;
}

.giftic-panel {
		border: 1px solid #999;
		border-radius: 6px;
		padding: 10px;
}

.centered {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
}

#app-background {
		z-index: -1;
		color: #dfdfdf;
		text-align: center;
		vertical-align: middle;
		font-size: 250pt;
}

#file-panel {
		color: #000;
		width: 30%;
		font-size: 20pt;
		text-align: center;
}

#file-panel input {
		font-size: 12pt;
		width: 90%;
		background-color: #BFBDBD;
    border: 0px;
		margin-bottom: 5px;
}

#file-panel button {
		margin-left: 5px;
		margin-right: 5px;
}

#fileinput {
		visibility: hidden;
		width: 0;
		height: 0;
}

#application {
		display: none;
		width: 60%;
}

#loading-panel {
		display: none;
		text-align: center;
}

#sprite-controls {
		text-align: left;
}

#analysis-controls {
		text-align: right;
}

.controls ul {
		font-size: 14pt;
    list-style: none;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.controls li {
    display: inline;
    margin-left: 3px;
}

.center-panel {
		margin: 0 auto;
}

#side-panel {
		display: none;
}

#graph-panel {
		height: 150px;
}