#appelements {
    display: none;
}

ul {
    list-style: none;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
}

#points li {
    display: block;
}

input {
    display: block;
}

#pointlist li {
    display: block;
    margin-left: 3px;
}

#pointlist a:hover {
    color: #00FFFF;
}

li {
    display: inline;
    margin-left: 3px;
}

#newpoint {
    color: blue;
}

#livepoint {
    color: green;
}

#deadpoint {
    color: red;
}

.appdiv {
    width: 650px;
    margin: 0 auto;
}
